<h1 class="text-2xl mb-5">Edit Search</h1>

<%= render "form", search: @search, url: search_path(@search), submit_class: "btn btn-secondary" %>

<div>
  <%= link_to "Back to Root", root_path, class: "btn" %>
</div>
