<h1 class="text-2xl mb-5">Values</h1>

<p class="mb-4">Enter the column values to be displayed in the template.</p>
<p class="font-bold">Example:</p>
<p>Key Type</p>
<p class="mt-4 font-bold">Types:</p>
<p>Title</p>
<p>Text</p>
<p>Image</p>
<p>Video</p>
<p>Link</p>

<%= render "form", search: @search %>

<div>
  <%= link_to "Back to Root", root_path, class: "btn" %>
</div>
