<h1 class="text-2xl mb-5">Search JSON (ruby-web-scraping)</h1>

<%= render "form", search: @search %>

<% if @data.present? %>
  <pre>
<%= JSON.pretty_generate(JSON.parse(@data)) %>
  </pre>
<% end %>

<div>
  <%= link_to "Back to Root", root_path, class: "btn" %>
</div>
