<h1 class="text-2xl mb-5">Search JSON (ruby-web-scraping)</h1>

<%= render "form", search: @search %>
<%= render partial: 'json/json', locals: { json: @data } %>

<div>
  <%= link_to "Back to Root", root_path, class: "btn" %>
  <%= link_to "Values", edit_search_value_path(@search), class: "btn btn-secondary" %>
</div>
